header{
    background-color: darkcyan;
    color: darkred;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;

}

.divLogin{
    width: 100%;
     float: right;
     text-align: right;
     background-color:darkgreen;
     color: white;
}

body{
    position: relative;
    top: 40px;
    padding-bottom: 30px;
}

footer{
    background-color: aquamarine;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    height: 30px;
}

.greska{
    background-color: red;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: aquamarine;
    color: black;
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #0f04aac0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link
.topnav a.active {
  background-color: #04AA6D;
  color: white;
} */

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #0f04aac0;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }